<hr>
<% if can? :create, Assessment %>
  <h2 class="fw-bold">Your assessment:</h2>
  <% if assessment.present? %>
    <%= render 'assessment_card', assessment: assessment %>
  <% else %>
      <%= button_tag 'Assess a user',
                     'data-bs-toggle': 'modal',
                     'data-bs-target': '#assessment-modal',
                     class: 'btn btn-primary mb-3' %>
  <% end %>
<% end %>

<% if can? :index, Assessment %>
  <h2 class="fw-light">Assessments:</h2>
  <% user.assessments_on.by_elves.each do |assessment| %>
    <%= render 'assessment_card', assessment: assessment %>
  <% end %>
<% end %>

<div class="modal fade modal-centered" id="assessment-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Assessment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= form_with model: [user, user.assessments_on.build], id: 'form-rating', class: "needs-validation", html: { novalidate: true } do |form| %>
        <div class="modal-body">
          <%= form.hidden_field :value, id: 'rating', class: 'form-control' %>
          <div class='rating-stars text-center'>
            <ul id='stars'>
              <% 1.upto(10) do |i| %>
                <li class='star' title=<%= i %> data-value=<%= i %>>
                  <i class='fa fa-star fa-fw active'></i>
                </li>
              <% end %>
            </ul>
          </div>

          <%= form.text_area :comment, id: 'assessment-comment', class: 'form-control', required: true, minlength: 5, maxlength: 280 %>
          <div class="invalid-feedback">
            Assessment comment has to be 5 to 280 characters long.
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
