<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Birthdate</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.birthdate %></td>
        <td><%= user.email %></td>
        <td>
          <%= show_link user, content: 'Show', class: 'btn btn-outline-primary' %>
          <%= show_link user, link: user_gifts_path(user), content: 'Gifts', class: 'btn btn-outline-primary' %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
