<nav class="navbar navbar-expand-md navbar-dark bg-dark fs-5">
  <div class="container-fluid">
    <%= link_to "Dead Moroz Inc.", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">

      <ul class="navbar-nav ms-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= show_link current_user.gifts.build, link: user_gifts_path(current_user), content: 'My gifts', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to('Users', users_path, class: "nav-link") if can?(:index, User) %>
          </li>
          <li class="nav-item">
            <%= link_to('Invitations', invitations_path, class: "nav-link") if can?(:index, Invitation) %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <div class="navbar-text mx-5">
            <%= image_tag current_user.avatar.url(:thumb), size: '50x50', class: 'img-thumbnail', id: 'avatar-image' %>
            Welcome, <%= current_user.first_name %>
          </div>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, class: "nav-link mt-2" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, class: "nav-link mt-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
