<%= form_with model: gift, url: [current_user, gift] do |form| %>

  <%= render 'shared/error_messages', resource: gift %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
