<div class="py-3 text-center">
  <h2><%= user.first_name %>'s Gifts</h2>
  <%= show_link user, content: 'Go to profile', class: 'btn btn-outline-primary align-text-bottom' %>
  <%= create_link Gift, link: new_user_gift_path, content: 'New gift', class: "btn btn-success align-text-bottom" %>
</div>

<% @gifts.each do |gift| %>
  <div id="gift-card-<%= gift.id %>" class="card my-2">
    <div class="card-header d-flex justify-content-between position-relative <%= gift_selected_class(gift) %>">
      <h5 class="card-title">
        <%= gift.title %>
        <% unless current_user.kid? %>
          <small class="fw-lighter"> (added by: <%= gift_creator(gift) %>)</small>
        <% end %>
      </h5>
      <%= link_to '', [user, gift], class: 'stretched-link' %>
      <div>
        <%= select_gift_link(gift) %>
        <%= edit_link gift, link: [:edit, user, gift], content: 'Edit', class: 'btn btn-primary' %>
        <%= destroy_link gift, link: [user, gift], content: 'Remove', class: 'btn btn-danger' %>
      </div>
    </div>
    <% unless gift.description.blank? %>
      <div class="card-body mb-2">
        <p class="card-text"><%= gift.description %></p>
      </div>
    <% end %>
  </div>
<% end %>
