<%= render 'shared/error_messages', resource: gift %>

<main class="gift-form">
  <h1 class="h3 fw-normal text-center py-4">New Gift</h1>

  <%= form_with model: @gift, url: [user, gift], html: { class: "needs-validation", novalidate: true } do |form| %>
    <%= render 'gift_info', form: form %>

    <%= form.fields_for :images do |image| %>
      <%= image.file_field :image, multiple: true, class: 'form-control my-2' %>
    <% end %>

    <%= form.submit "Create", class: 'btn btn-outline-success btn-lg w-100' %>
  <% end %>
</main>

<%= javascript_pack_tag 'validation' %>
